body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 12px;
}

header nav {
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.home {
    background: #f4f4f4;
    text-align: center;
}
.about,.approach{
    background: #e2e2e2;
}
.about, .services, .contact,.approach {
   
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
